@model PhongTIS.Models.Exercise

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.test)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.part)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.part)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.nameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.nameCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
