@model List<PhongTIS.Models.Question>
@using PhongTIS.Help
@{
    ViewBag.Title = "getQuestion";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="row g-4">
    <div class="col-sm-12 col-xl-12 col-md-12">
        <div class="bg-light rounded h-100 p-4">
            <h3 class="mb-4">Danh sách câu hỏi</h3>
            @Html.NoEncodeActionLink("<span class='create-new-question'>Tạo mới &#43;</span>", "Create", "Create", "Questions", routeValues: new { id = Convert.ToInt32(Session["idExercise"]) }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
            <table class="table mt-lg-3">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Question
                        </th>
                        <th>
                            Answer 1
                        </th>
                        <th>
                            Answer 2
                        </th>
                        <th>
                            Answer 3
                        </th>
                        <th>
                            Answer 4
                        </th>
                        <th>
                            Correct Answer
                        </th>
                        <th>
                            Ẩn/Hiện
                        </th>
                        <th>
                            Vị trí
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{var Number = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.Raw(Number++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name_question)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.answer_one)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.answer_two)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.answer_three)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.answer_four)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.correct_answer)
                            </td>
                            <td>
                                @(item.hide == true ? "Hiển thị" : "Ẩn")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.order)
                            </td>
                            <td>
                                @Html.NoEncodeActionLink("<span class='fa fa-wrench'></span>", "Edit", "Edit", "Questions", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-secondary" })
                                @Html.NoEncodeActionLink("<span class='fa fa-trash'></span>", "Delete", "Delete", "Questions", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

