@model PhongTIS.Models.Question

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_one)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_one)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_two)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_two)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_three)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_three)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_four)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_four)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correct_answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correct_answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exercise.test)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise.test)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
